extend layout

block content
	h1(class='banner' id='banner' data-bind="text: 'Your nearest mountain is ' + nearestMountainName")
	p(data-bind="text: 'It is ' + distance + ' away'")  

	.mapframe
		div(id='map')