script(src='/js/knockout-latest.js')
script(src='/viewmodels/index.js')
script(async, defer, src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCDJ8BS-G0TOQAyNPxPxWcsQ53_JHrN_9M&callback=initMap')