extend layout
block content
	p
		| Let's get you exploring.

	span
		input(type='text', id='destination', placeholder='Where are you?')
		input(type='button' value='Find' id='find')

	.mapframe
		iframe(src='//www.google.com/maps/embed/v1/place?q=Sheffield&zoom=14&key=AIzaSyCDJ8BS-G0TOQAyNPxPxWcsQ53_JHrN_9M')