doctype
html
  head
    title My nearest Mountain - #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    | <script>
    include ../public/js/mapInitialise.js
    | </script>

  body
    header
      h1 My nearest Mountain
    .container
      .main-content
        block content

  include footerIncludes.pug