doctype
html
  head
    title My Nearest Mountain - #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    header
      h1 My Nearest Mountain
    .container
      .main-content
        block content

  include footerIncludes.pug